$govuk-assets-path: "/govuk-frontend/";
$govuk-fonts-path: "/govuk-frontend/fonts/";
$static: "/govuk-frontend/";

@forward "node_modules/@ministryofjustice/frontend/moj/all";
@import "govuk-frontend/dist/govuk/index";
// Importing this stylesheet directly, otherwise it doesn't pick up the asset/font paths
@import "node_modules/@x-govuk/govuk-prototype-components/dist/govuk-prototype-components.scss";
@import "./styles.scss";
// Service header pulled from https://github.com/govuk-one-login/service-header/tree/main/dist/styles
@import "./service-header-no-imports.scss";
@import 'node_modules/@ons/design-system/scss/vars/index';
@import 'node_modules/@ons/design-system/scss/helpers/index';
@import 'node_modules/@ons/design-system/scss/utilities/index';
@import 'node_modules/@ons/design-system/scss/base/index';
@import 'node_modules/@ons/design-system/scss/objects/index';
@import 'node_modules/@ons/design-system/components/chart/chart';

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
  }

// Pull the back link up when visible
.backlink-wrapper {
  margin-top: -20px;
}
@media (min-width: 40.0625em) {
  .backlink-wrapper {
    margin-top: -40px;
  }
}

// bodge some non-bulletted lists
ul.nobullet {
  list-style-type: none;
}

.tmp-mobile-signout {
  display: none;
}

@media (max-width: 40.0525em) {
  .tmp-mobile-signout {
    display: block;
    a {
      color: #fff !important;
    }
  }
}

// Temporary one login header styles
@media (min-width: 40.0625em) {
  .rebranded-one-login-header__nav__link-content {
  padding: 0 15px;
  display: flex;
  align-items: center;
  }
}

@media (min-width: 40.0625em) {
  .rebranded-one-login-header__nav__link-content--sign-out {
  height: 30px;
  border-left: 1px solid #ffffff;
  }
}