BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Make sure these match your appsettings.Local.json config in the `gascd_api` directory
DATA_API_ROOT=http://localhost:5050
DATA_API_KEY=

# Support for local authentication in development
# LOCAL_AUTH=true
# LOCAL_AUTH_PASSWORD=
# LOCAL_AUTH_LOCATION_TYPE="Care provider location"
# LOCAL_AUTH_LOCATION_ID=testcpl1

# One Login development support
# ONELOGIN_CLIENT_ID="GASCD_FRONTEND_DEV"
# ONELOGIN_CLIENT_SECRET=""
# -- Generate a hashed client secret using utils/hashc_client_secret.py in the repo root
# ONELOGIN_CLIENT_SECRET_HASH_ESCAPED="$$argon2id$$v..."
# ONELOGIN_URL=http://localhost:4000
# ONELOGIN_HOME_URL=http://localhost:4000
