BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Make sure these match your appsettings.Local.json config in the `gascd_api` directory
DATA_API_ROOT=http://host.docker.internal:5050
DATA_API_KEY=secret-key

# Support for local authentication in development
LOCAL_AUTH = true
LOCAL_AUTH_EMAIL = "test@gascd.local"
LOCAL_AUTH_PASSWORD = <my-ace-password>
LOCAL_AUTH_LOCATION_TYPE = "Care provider location"
LOCAL_AUTH_LOCATION_ID = test_cpl1

# Local user database
USER_DATABASE = User_DB
# User database uses non-default mssql port in development
USER_DB_PORT = 1444
USER_DB_SERVER = localhost
USER_DB_USERNAME = sa
USER_DB_PASSWORD = <a-password-for-the-db>

# One Login development support
# ONELOGIN_CLIENT_ID="GASCD_FRONTEND_DEV"
# ONELOGIN_CLIENT_SECRET=""
# -- Generate a hashed client secret using utils/hashc_client_secret.py in the repo root
# ONELOGIN_CLIENT_SECRET_HASH_ESCAPED="$$argon2id$$v..."
# ONELOGIN_URL=http://localhost:4000
# ONELOGIN_HOME_URL=http://localhost:4000
