BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Support for local authentication in development
# LOCAL_AUTH=true
# LOCAL_AUTH_PASSWORD=
# LOCAL_AUTH_LOCATION_TYPE="Care provider location"
# LOCAL_AUTH_LOCATION_ID=testcpl1
